In [ ]:
#1.Find the error in the following Python code:
import math
print(math.sqrt(16))

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    global x
    x += 5
    print(x)

x = 10
my_function()

In [ ]:
x = 5
if x == 10:
    print("x is 10")
else:
    print("x is not 10")

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

In [ ]:
#5.
def square(n):
    return n * n

print(square(4))

In [ ]:
6.
my_tuple = [1, 2, 3]
my_tuple[1] = 5
print(my_tuple)

In [2]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name , age))

My name is Alice and I am 25 years old

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

In [ ]:
#9.
for i in range(5, 1,-1):
    print(i)

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student["name"])